@use "../../styles/mixins";
@use "../../styles/variables";

.header {
    height: 100px;
    @include mixins.flex-item($ai: center, $jc: center);
    border-bottom: 1.3px solid variables.$light-grey;
    &__inner {
        max-width: 1300px;
        padding: 0 15px;
        flex-grow: 1;
        @include mixins.flex-item($jc: space-between, $ai: center, $gap: 20px);
    }
}

.logo {
    font-family: variables.$font-julius;
    @include mixins.flex-item($ai: center, $gap: 10px);
    font-size: 13px;

    & span:nth-child(1) {
        font-size: 30px;
    }

    & span:nth-child(2) {
        display: block;
        @include mixins.size(2px, 22px);
        background: variables.$black;
    }

    &:nth-child(3) {
        text-align: left;
        line-height: 100%;
    }
}

.nav {
    transition: 0.3s;
    &__list {
        @include mixins.flex-item($ai: center, $gap: 30px);
    }

    &__link {
        text-transform: uppercase;
        font-size: 14px;

        &.active {
            font-weight: 700;
        }
    }
}

.burger-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.3px solid variables.$light-grey;
    display: none;
    cursor: pointer;
}

.burger {
    position: relative;
    @include mixins.size(28px, 15px);

    span {
        @include mixins.burger;
        background-color: variables.$black;

        &:first-child {
            top: 0;
            left: 0;
        }
        &:last-child {
            bottom: 0;
            left: 0;
        }
    }

    &.close span {
        &:first-child {
            transform: rotate(45deg);
            top: 7px;
        }
        &:last-child {
            transform: rotate(-45deg);
            bottom: 6px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 80px;
    }
    .burger-btn {
        @include mixins.flex-item($jc: center, $ai: center);
    }

    .nav {
        position: fixed;
        right: -100%;
        top: 80px;
        z-index: 100;
        background-color: white;
        @include mixins.size(100%, 100%);
        &__list {
            height: calc(100% - 100px);
            width: 100%;
            background: #f2f2f2;
            @include mixins.flex-item($gap: 30px, $direction: column, $ai: center, $jc: center);
        }
        &__link {
            font-size: 18px;
        }
        &.open {
            right: 0;
            z-index: 100;
        }
    }
}
