@use '../../styles/_variables.scss';

.tabs__name {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2.3px solid transparent;
    transition: .3s;

    & button {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &.active {
        border-bottom: 2.3px solid variables.$black;
        font-weight: 600;
    }
}