@use '../../styles/mixins';
@use '../../styles/variables';

.btn {
    @include mixins.button-styles-light;
    cursor: pointer;
    transition: 0.3s;

    &.large {
        min-width: 54px;
    }

    &.small {
        min-height: 48px;
    }
    
    &.dark {
        background-color: variables.$black;
        border-color: variables.$black;
        color: white;

        &:hover {
            opacity: .85;
        }
    }

    &.light {
        color: variables.$black;
        border: 2px solid variables.$grey-border;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    &.grey {
        color: variables.$black;
        background-color: #C5C5C5;
        border: 2px solid variables.$grey-border;
    }

    &.small {
        font-size: 12px;
    }

    &.fullWidth {
        min-width: 100%;
    }
}

@media screen and (max-width: 540px){
    .btn {
        min-width: 200px;
        width: 100%;
    }
    
}