@use '../../styles/mixins';
@use '../../styles/variables';

.map {
    @include mixins.flex-item($gap: 20px, $jc: space-between);
    padding-top: 20px;
    flex-wrap: wrap;
    max-height: calc(100vh - 120px);

    &__google-map {
        flex-grow: 1;
        align-self: stretch;
    }

    &__filters {
        flex-shrink: 1;
    }
}

@media screen and (max-width: 1200px){
    .map {
        max-height: fit-content;
        
    }
}

@media screen and (max-width: 1020px){
    .map__search-results {
        margin-top: 30px;
    }
}


@media screen and (max-width: 768px) {
    .map {
        flex-direction: column;
        padding-top: 20px;
    }
}
